[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# MemoryCaptures
[Mm]emoryCaptures/

# Asset meta data should only be ignored when the corresponding asset is also ignored
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity crash reports
sysinfo.txt

# OS files
.DS_Store
Thumbs.db

# Rider
.idea/

# Visual Studio
.vs/

# VS Code
.vscode/

# JetBrains Rider plugin
Assets/Plugins/Editor/JetBrains*

# Build results
*.apk
*.aab
*.unitypackage

# Addressable cache
/ServerData
